.card {
  background-color: #191b20;
  width: 50%;
  padding: 1.2rem 1.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.card-top {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.card-top div {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: linear-gradient(135deg, #bbb5e2 0%, #9c92df 100%);
}

.card-top p span {
  font-weight: 600;
}

.card-bottom p {
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1rem;
  color: #808191;
}

.card-bottom-box {
  margin-top: 0.8rem;
  background-color: #242731;
  mix-blend-mode: normal;
  border-radius: 8px;
  display: flex;
  font-size: 1.2rem;
  padding: 1rem;
  justify-content: space-between;
}
.card-bottom-box p {
  font-size: 0.9rem;
}

@media only screen and (min-width: 1020px) {
  .card {
    width: 50%;
    padding: 1rem 1.2rem;

    gap: 0.5rem;
  }

  .card-bottom p {
    font-size: 0.9rem;
  }

  .card-bottom-box {
    margin-top: 0.5rem;

    font-size: 1rem;
    padding: 0.8rem;
    justify-content: space-between;
  }
  .card-bottom-box p {
    font-size: 0.8rem;
  }
}
